# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

# Android/IntelliJ/Visual Studio Code
#
build/
.idea
.gradle
local.properties
*.iml
.vscode/
*.hprof
# windows file not necessary
android/gradlew.bat

# node.js ecosystem
#
node_modules/
npm-debug.log
yarn-error.log

# JavaScript tooling
#
.eslintcache

# BUCK
#
buck-out/
\.buckd/
*.keystore
!debug.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

# Bundle artifact
#
*.jsbundle

# CocoaPods
#
/ios/Pods/

# Ruby Gems
#
/vendor

# Gradle extras
#
android/app/gradle/wrapper/gradle-wrapper.jar
android/app/gradle/wrapper/gradle-wrapper.properties
android/app/gradlew
android/app/gradlew.bat

e2e/config/credentials.json
e2e/apks/The**
e2e/apps/
e2e/artifacts
e2e/apks/detox-release-build.apk
e2e/apks/detox-debug-build.apk
artifacts/
test-results/detox/
junit.xml
android-test-files-*.zip

# Local-development working files
#
tsconfig-staged-files.json

# Test artifacts
#
reports

# JS map
#
ios/index.ios.map

# Env
#
.env

# Coverage
#
coverage
ios/GoogleService-Info.plist
android/java_pid*.hprof


# Sentry
#
index.android.bundle.map
index.android.bundle
main.jsbundle.map
main.jsbundle
index.bundle
index.bundle.map
ios/*.dSYM.zip
index.android.bundle-plain.map

# Autogenerated files
DebugEvent.swift
